/* Webfont: FixelDisplay-Light */@font-face {
    font-family: 'FixelDisplay-Light';
    src: url('FixelDisplay-Light.woff2') format('woff2'), /* Modern Browsers */
         url('FixelDisplay-Light.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

