.container {
  position: relative;
  font-size: 1.6rem;
  span {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    transition: all 0.1s linear 0s;
    &.focus {
      top: 30%;
      left: 4%;
      font-size: 1rem;
      opacity: 0.8;
    }
  }

  input {
    background-color: #0b0c10;
    padding: 30px 12px 10px;
    color: #66fcf1;
    font-size: 1.6rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(102, 252, 241, 0.25);

    transition: all 0.1s linear 0s;
    margin: 10px 0;
    &.focus {
      box-shadow: 0px 0px 15px 2px rgba(102, 252, 242, 0.514);
    }
    &:hover {
      box-shadow: 0px 0px 15px 2px rgba(102, 252, 242, 0.514);
    }
  }
}
