.news {
  transition: all 0.1s linear 0s;
  &:hover {
    transform: scale(1.1);
    path {
      stroke: 1;

      &:nth-child(1) {
        fill: #66fcf1;
      }
    }
  }
  path {
    stroke: 2;
    transition: all 0.1s linear 0s;
  }
}
