.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  // justify-content: center;
  // gap: 60px;
  overflow-y: scroll;
  .preloader {
    margin: 0 auto;
    width: 50vw;
    height: 50vw;
  }
}
