.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  // justify-content: center;
  // gap: 60px;
  overflow-y: scroll;
  .preloader {
    width: 25vw;
    height: 25vw;
    margin: 0 auto;
    margin-top: 25vh;
  }

  .buttonCreate {
    position: fixed;
    text-align: center;
    bottom: 5vh;
    right: 3vw;
    font-size: 28px;
    background-color: #0b0c10;
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: 8px 8px 12px #0b0c10;
    color: #66fcf1;
  }
}
