.tournament {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: scroll;
  background-color: #0b0c1044;
  border-radius: 30px;
  width: 85vw;
  margin: 20px auto;
  height: 90%;
}

.rounds {
  display: flex;
}

.round {
  display: flex;
  flex-direction: column;
}

.matchWrapper {
  display: flex;
  flex-direction: column;
}

.match {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  justify-content: space-between;
  width: 250px;
  border-radius: 0.5rem;
  outline: 5px solid #000000d7;
}

.team {
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #3cddd5d7;
}

.winner {
  color: green;
}
