.preloader {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: block;
  position: relative;
  align-self: center;
  justify-self: center;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #66fcf1;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loader:before {
  content: '';
  position: absolute;
  top: 3.33%;
  left: 3.33%;
  right: 3.33%;
  bottom: 3.33%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #66fcf1;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
.loader:after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #66fcf1;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loaded_hiding #preloader {
  transition: 0.3s opacity;
  opacity: 0;
}
.loaded #preloader {
  display: none;
}
